@media screen and (min-width: 350px) and (max-width: 480px) {
  #mainNav ul {
    margin-left: 0 !important;
  }

  .right-pic {
    display: none !important;
  }

  .klik {
    display: block;
  }

  .josh {
    display: none;
  }

  /* .left-content {
    display: none;
  } */

  /* .bioContent {
    visibility: hidden;
  } */
}

@media screen and (min-width: 481px) and (max-width: 680px) {
  .klik {
    display: block;
  }
}

@media screen and (min-width: 681px) and (max-width: 991px) {
  .klik {
    display: block;
  }
}
